* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(8, 1, 18);
    font-family: sans-serif;
    font-size: 1.4rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
}

.post {
    background-color: rgb(17, 12, 23);
    padding: 2rem;
    margin: 2rem;
}


.post h4 {
    font-size: 2rem;
    margin-bottom: .6rem;
    color: rgb(112, 201, 112);
}

.post p {
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: .11rem;
    color: rgb(207, 207, 207);
    margin: 1.4rem 0;
}

.post span {
    color: rgb(86, 86, 235);
}